
/* ---------------------- */
/* Global CSS             */
/* ---------------------- */

body {
	overflow: hidden; /* hide the scrollbar */
	font-family: 'Oxygen Mono', monospace;
}

a {
	text-decoration: none; /*remove default link styling */
}

a:focus {
	outline: 0; /*remove outliine after being clicked*/
}

p {
	font-size: 14pt;
}

h3 {
	font-size: 20pt;
	margin-bottom: 10px;
}

h2 {
	font-size: 24pt;
	margin-bottom: 12px;
}

/* ---------------------- */
/* Panes (Navigation)     */
/* ---------------------- */

#pane-section {
	text-align: center;
	display: flex;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.pcont {
	flex: 1;
	margin-left: 3%;
	margin-right: 3%;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4);
	transition: all ease-in-out 400ms;
}

.pcont:hover {
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, 2px) scale(1.05);
}

.pane {
	border-top: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 0px 5px 5px;
	color: #fff;
	-webkit-transition: color 0.5s ease, background-color 0.5s ease;
	-moz-transition: color 0.5s ease, background-color 0.5s ease;
	-o-transition: color 0.5s ease, background-color 0.5s ease;
	transition: color 0.5s ease, background-color 0.5s ease;
	
}

.pane p {
	font-family: 'Oxygen Mono', monospace;
	margin-bottom: 8px;
}

#pane-web {
	background-color: #CC0063;
}

#pane-apps {
	background-color: #86269B;
}

#pane-design {
	background-color: #00D2F1;
}

/* ---------------------- */
/* Middle Content         */
/* ---------------------- */

.middle-content {
	text-align: center;
	padding-bottom: 20px;

	/*center*/
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	/* hide middle content by default */
	display: none;
}

.middle-content h3 {
	color: #fff;
	padding: 10px;
	margin-bottom: 40px;
	border-radius: 5px;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4);
}

#intro-text {
	display: inline-block;
	background-color: #00B796;
	color: #fff;
	opacity: 0;
	border: none;
	padding: 40px;

	border-radius: 5px;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4);

	-webkit-animation: 3s 1s forwards intro;
	animation: 3s 1s forwards intro;
}

#web-work h3 {
	background-color: #CC0063;
}

#app-work h3 {
	background-color: #86269B;
}

#design-work h3 {
	background-color: #00D2F1;
}

#intro-text p {
	margin-top: 0;
}

#work-img {
	width: 60%;
	height: auto;
	padding: 1em;
}

.work-link p {
	margin: 5px 0;
	color: #000;
}

.work-type {
	font-style: italic;
	font-size: 12pt;
}

/* ---------------------- */
/* Outside Links, Logo    */
/* ---------------------- */

.my-links {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.mail-icon {
	color: #000;
	margin-right: 2px;
}

#logo {
	position: absolute;
	width: 50%;
	max-width: 400px;
	bottom: 20px;
	left: 20px;
	animation-duration: 1s;
	animation-name: slide-up;
}


/* ---------------------- */
/* Animation              */
/* ---------------------- */

@keyframes intro {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	}
}

/* animation frames for #logo */
@keyframes slide-up {
	0% {
		bottom: -25%;
	}
	100% {
		bottom: 1%;
	}
}

/* ---------------------- */
/* Media Queries          */
/*   Small Screens        */
/* ---------------------- */
@media only screen and (max-device-width: 1024px) {
	#logo {
		width: 90%;
		text-align: center;
	}

	#pane-section {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.middle-content {
		width: 90%;
		padding: 0;
	}

	.middle-content p {
		font-size: 12pt;
	}

	.middle-content h3 {
		font-size: 14pt;
		margin: 0;
	}

	#nav-div {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}

	#nav-div ul {
		padding-left: 0;
	}

	#nav-div li {
		display: inline;
		padding: 10px;
		border: 1px solid black;
	}

	#github {
		display: none;
	}

	#email {
		display: none;
	}
  }