
/* ---------------------- */
/* Global CSS             */
/* ---------------------- */

body {
	font-family: 'Oxygen Mono', monospace;
}

a {
	text-decoration: none; /*remove default link styling */
}

a:focus {
	outline: 0; /*remove outliine after being clicked*/
}

p {
	font-size: 14pt;
}

h3 {
	font-size: 20pt;
	margin-bottom: 10px;
}

h2 {
	font-size: 24pt;
	margin-bottom: 12px;
}

/* ---------------------- */
/* Body-Content           */
/* ---------------------- */

.body-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper {
	width: 100%;
}

/* ---------------------- */
/* Header (Logo)          */
/* ---------------------- */

#header-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

/* ---------------------- */
/* Panes (Navigation)     */
/* ---------------------- */

#pane-section {
	text-align: center;
	display: flex;
	margin: 30px 20% 0;
}

.pcont {
	flex: 1;
	align-items: center;
	margin: 0 4%;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4);
	transition: all ease-in-out 400ms;
}

.pcont:hover {
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, 2px) scale(1.05);
}

.pane {
	border-top: none;
	padding: 6px 10px;
	border-radius: 5px;
	color: #fff;
	-webkit-transition: color 0.5s ease, background-color 0.5s ease;
	-moz-transition: color 0.5s ease, background-color 0.5s ease;
	-o-transition: color 0.5s ease, background-color 0.5s ease;
	transition: color 0.5s ease, background-color 0.5s ease;
}

.pane p {
	font-family: 'Oxygen Mono', monospace;
	margin-bottom: 8px;
}

#web-pane {
	background-color: #CC0063;
}

#apps-pane {
	background-color: #86269B;
}

#design-pane {
	background-color: #00D2F1;
}

/* ---------------------- */
/* Middle Content         */
/* ---------------------- */

#content-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.middle-content {
	flex: 1;
	text-align: center;

	/*center
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	*/

	/* hide middle content by default */
	display: none;
}

.middle-content h3 {
	color: #fff;
	display: inline-block;
	padding: 10px 50px;
	margin-bottom: 40px;
	border-radius: 5px;
}

#intro-text {
	
	display: inline-block;
	background-color: #00B796;
	color: #fff;
	opacity: 0;
	border: none;
	padding: 40px;
	margin: 100px 0;

	border-radius: 5px;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4);

	-webkit-animation: 2s 1s forwards intro;
	animation: 2s 1s forwards intro;
}

#intro-text p {
	margin-top: 0;
}

#work-img {
	width: 40%;
	height: auto;
	padding: 1em;
}

.work-link p {
	margin: 5px 0;
	color: #000;
}

.work-type {
	font-style: italic;
	font-size: 12pt;
}

/* ---------------------- */
/* Outside Links, Logo    */
/* ---------------------- */

#links-section {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links {
	display: inline-block;
	flex: 1;
}

.links p {
	margin: 0;
	text-align: center;
}

.link-icon {
	color: #000;
	margin-right: 10px;
}

.link-icon:hover {
	color: #999;
}

/* ---------------------- */
/* Animation              */
/* ---------------------- */

@keyframes intro {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	}
}

/* animation frames for #logo */
@keyframes slide-up {
	0% {
		bottom: -25%;
	}
	100% {
		bottom: 20px;
	}
}

/* ---------------------- */
/* Media Queries          */
/*   Small Screens        */
/* ---------------------- */
@media only screen and (max-device-width: 1024px) {
	#logo {
		width: 100%;
	}

	#pane-section {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	#links-section {
		margin: 0;
	}

	#content-section {
		margin: 0;
	}

	#intro-text {
		margin: 30px;
	}

	.middle-content {
		margin: 30px;
	}

	.middle-content p {
		font-size: 10pt;
	}

	.middle-content h3 {
		font-size: 14pt;
		margin: 0;
	}

	#work-img {
		width: 80%;
	}

	#nav-div {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}

	#nav-div ul {
		padding-left: 0;
	}

	#nav-div li {
		display: inline;
		padding: 10px;
		border: 1px solid black;
	}
  }